# Ignore environment files
crm_backend/.env

# Ignore all Python cache folders
__pycache__/

# Ignore all compiled Python files
*.pyc

# Optional: ignore specific backend cache paths (if needed)
backend/config/__pycache__/
backend/core/__pycache__/

crm_backend/venv/
crm_backend/db.sqlite3
crm_backend/migrations/
crm_backend/staticfiles/
crm_backend/media/
crm_backend/logs/
crm_backend/cache/
crm_backend/accounts/migrations/
crm_backend/organizations/migrations/
crm_backend/contacts/migrations/
crm_backend/companies/migrations/
crm_backend/activity_logs/migrations/